{# All pages on your site should inherit from this base template #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ title }} | {{ meta.title }}</title>
    <meta name="description" content="todo">
    <meta name="author" content="todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="neanderthal-version" content="{{ version }}">

    <link rel="stylesheet" href="/public/css/inter.css">
    <link rel="stylesheet" href="/public/css/new.css">

  </head>

  <body>
    {% include "templates/header.njk" %}
    {% block body %}
      Default content
    {% endblock %}
    {% include "templates/footer.njk" %}

  </body>
</html>